@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


  :root{
     --font:'Work Sans', sans-serif;
  }

body{
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
}

h3{
  font-weight: 700;
  font-family: var(--font);
  margin: 0;
}
p{
  font-weight: 500;
  font-family: var(--font);
  margin: 0;
}

a{
  text-decoration: none;
  font-weight: 500;
  font-family: var(--font);
}


.flex__center{
  display: flex;
  align-items: center;
  justify-content: center;
}


.button{
  background: brown;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font);
}